#images-grid { margin: 0; background: #333; }
#images-grid { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
#images-grid div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
#images-grid div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  #images-grid div { margin: 0; }
  #images-grid { padding: 0; }
  
}