body {
    background: url('../../../assets/images/login/login.jpg') no-repeat fixed center center !important;
    background-size: cover;
    font-family: Montserrat;    
}
.background-image {
    zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.7;
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.container {
    left: 7em;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
    margin: 30px auto;
}

.login-block {
    opacity: 0.85;
    width: 320px;
    padding: 20px;
    background: #2c3e50;
    border-radius: 10px;
    border-top: 5px solid #34495e;
    margin: 0 auto;
    height: 250px;
}

.login-block h1 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block label {
    color: #fff;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5em;
    border: 1px solid #2c3e50;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
    color: #f8f8f8;
}

.login-block input#username {
    background: #34495e url('../../../assets/images/login/username.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #34495e url('../../../assets/images/login/username.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #34495e url('../../../assets/images/login/password.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #34495e url('../../../assets/images/login/password.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #34495e;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #1abc9c;
    box-sizing: border-box;
    border-radius: 5em;
    border: 1px solid #16a085;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #16a085;
}

/**
    Loader annimation
 **/

.l-wrapper {
  position: absolute;
  width: 280px;
  height: 176px;
  top: 315px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

svg {
  height: 40px;
  width: 40px;
  margin: 0 2em 2em;
  overflow: visible;
  /*   border: 1px solid red; */
}

.g--circle {
  transform-origin: 60px 60px;
  fill: dodgerblue;
  animation: opacity 1.2s linear infinite;
}
.g--circle:nth-child(12n + 1) {
  animation-delay: -0.1s;
  transform: rotate(-30deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 2) {
  animation-delay: -0.2s;
  transform: rotate(-60deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 3) {
  animation-delay: -0.3s;
  transform: rotate(-90deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 4) {
  animation-delay: -0.4s;
  transform: rotate(-120deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 5) {
  animation-delay: -0.5s;
  transform: rotate(-150deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 6) {
  animation-delay: -0.6s;
  transform: rotate(-180deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 7) {
  animation-delay: -0.7s;
  transform: rotate(-210deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 8) {
  animation-delay: -0.8s;
  transform: rotate(-240deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 9) {
  animation-delay: -0.9s;
  transform: rotate(-270deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 10) {
  animation-delay: -1s;
  transform: rotate(-300deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 11) {
  animation-delay: -1.1s;
  transform: rotate(-330deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 12) {
  animation-delay: -1.2s;
  transform: rotate(-360deg) translate(5px, 5px) scale(0.9);
}

.g-circles--v1 .g--circle {
  fill-opacity: 0;
  animation-name: opacity;
}

@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}
@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
}