<div class="background-image"></div>
<div class="container">
    
    <div class="login-block">        
        <form class="form login" name="form" ng-submit="login.login(login.username, login.password)" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <!--<label for="username">Login</label> -->
                <input type="text" name="username" id="username" placeholder="Login" class="form-control" ng-model="login.username" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Login é obrigatório!</span>
            </div>
            <div class="form__field" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <!--<label for="password">Senha</label> -->                
                <input type="password" name="password" id="password" placeholder="Senha" class="form-control" ng-model="login.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Senha é obrigatória!</span>
            </div>
            <div class="form-actions">
                <button ng-if="!login.dataLoading" type="submit" ng-disabled="form.$invalid || login.dataLoading" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

<div class="l-wrapper" ng-if="login.dataLoading">
    <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      
      <symbol id="s--circle">
        <circle r="10" cx="20" cy="20"></circle>
      </symbol>
      
      <g class="g-circles g-circles--v1">
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>  
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
        <g class="g--circle">
          <use xlink:href="#s--circle" class="u--circle"/>
        </g>
      </g>
  </svg>
  
 
</div>